*
{
    box-sizing: border-box;
}

.cast
{
    display:flex;
   
    padding: 3px;
    height:auto;
    flex-wrap: wrap;
    
    
   
}
.title
{
    border: 3px solid #19191a;
    flex-basis:15%;
    font-size: 32px;
    padding: 13px;
    text-align: center;
    float:left;
    background-color: rgb(153, 138, 72);
    color: black;
    height: 225px;
    
}

.description
{
    display:flex;
    padding :5px;
    flex-basis:85%;
    line-height: 2 ;
    height:225px
    ;
    border:3px solid rgb(13, 13, 13);
    float:right;
    color: rgb(16, 15, 15);
    background-color: rgba(216, 214, 160, 0.804);
    font-weight:550 ;
    
}
body{
    background-color: rgb(9, 10, 9);
    color:aliceblue;
}
